  
.footer {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    padding: 60px;
    background-color: #383737;
    margin-top: 100px;
}

.social-icon {
    color: white;
    font-size: 40px;
    padding: 50px;
    margin: 50px;
    text-align: center;
}

.social-icon:hover {
    color: grey;
}